html{
	box-sizing: border-box;
}
html *{
	box-sizing: inherit;
}
html, body, div{
	margin: 0;
	padding: none;
}
h1, h2, h3, h4, h5, h6, p, ol, ul, li{
	margin-top: 0;
}
img{
	max-width: 100%;
	height: auto;
}